{%  style %} 

{% endstyle %}

<section>
    <div>
        
    </div>
</section>

{% schema %}
{
    "name": "testimonial",
    "settings": [

        ],
    "presets": [
        {
            "name": "testimonial",
            "category": "custom"
        }
    ]
}
{% endschema %}